<h1>Patients Registered</h1>
<%= line_chart @patients.group_by_day(:registered_on).count, xtitle: "Date", ytitle: "Number of Patients" %>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Registered On</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.name, doctor_path(patient) %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.registered_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>
